.my-table h2 {
  text-align: center;
  margin-top: 2rem;
}
.input-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}
.input-flex {
  width: 70vw !important;
}
.select-input {
  width: 30vw !important;
}
.table-wrapper {
  display: flex;
  justify-content: space-between;

  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}
.table {
  width: 95vw;
}
@media screen and (max-width: 758px) {
  .table {
    width: 80vw;
  }
  .input-wrapper {
    flex-wrap: wrap;
  }
  .input-radio {
    width: 90vw;
  }
  .ant-radio-group {
    width: 90vw;
    margin: 0.5rem;
  }
  .btn {
    font-size: 16px;
    font-weight: normal;
    height: 150px;
    width: 150px;
  }
  .select-input {
    width: 93% !important;
  }
}
