.wrapper,
.charts-wrappper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
}
.charts-wrappper {
  justify-content: space-between;
  height: auto;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  margin: 2rem;
  width: 90%;
}
.line-chart h1 {
  margin-top: 0;
  font-weight: 500;
}
.line-chart {
  width: 70%;
}
.pie-chart{
  margin: 0;
}
.pie-chart h1{
  text-align: center;
  margin-top: 0;
  font-weight: 500;
}
@media screen and (max-width: 758px) {
  body{
overflow-x: hidden;
  }
  .charts-wrappper {
    flex-wrap: wrap;
    flex-direction: column;
    width: 75vw;
    margin: 10px;
  }
  
  .line-chart,
  .pie-chart {
    width: 75vw;
    margin: 1.5rem;
  }
}
@media screen and (max-width: 1000px) {
  .charts-wrappper {
    margin: 10px;
    width: 75vw;
    flex-wrap: wrap;
    flex-direction: column;
  }
}